<section>
  <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityFig"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.fig" value="{{data.data.attributes.fig}}" data-dtype="Number" />
  
  </div>
  <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityAgi"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.agi" value="{{data.data.attributes.agi}}" data-dtype="Number" />
  
  </div>
  <label class="attrib-name">
    <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityStr"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.str" value="{{data.data.attributes.str}}" data-dtype="Number" />
  
  </div>
  <label class="attrib-name"></label>
    <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityEnd"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.end" value="{{data.data.attributes.end}}" data-dtype="Number" />
  
  </div>
    <label class="attrib-name"></label>
    <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityRea"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.rea" value="{{data.data.attributes.rea}}" data-dtype="Number" />
  
  </div>
  <label class="attrib-name"></label>
    <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityIntu"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.intu" value="{{data.data.attributes.intu}}" data-dtype="Number" />
  
  </div>
  <label class="attrib-name"></label>
    <label class="attrib-name">
    <h3>{{ localize "faserip.attribNames.AbilityPsy"}}</h3>
  </label>
  <div class="attrib-rank">
    <input type="number" name="data.data.attributes.psy" value="{{data.data.attributes.psy}}" data-dtype="Number" />
  
  </div>
  </label>
</section>